.product-display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.product-display img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.product-info {
    max-width: 500px;
    padding-left: 40px;
    text-align: left;
    margin-bottom: 150px;
}

.product-info h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f5c518;
}
.buy-now {
    background-color: #f5c518;
    color: #0a0a0a;
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
}

.buy-now:hover {
    background-color: #ffd700; /* Brighter Gold */
}

/* Reviews */
.reviews {
    margin-top: 50px;
    padding: 30px;
    background-color: #111;
    border-radius: 10px;
}

.reviews h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.slideshow-container {
    position: relative;
    width: 400px;
    margin: 50px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

#slide-img {
    width: 100%;
    display: block;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(245, 197, 24, 0.9);
    color: #0a0a0a;
    border: none;
    padding: 12px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    margin-top: 93px;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}

button:hover {
    background: #ffd700; /* Brighter Gold */
    transform: scale(1.1);
}
